<ion-slide-box>
  <ion-slide>
    <div class="box blue slideView">
      <img src="../img/1.jpeg" alt="1">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow slideView">
      <img src="../img/2.jpeg" alt="2">
    </div>
  </ion-slide>
  <ion-slide on-slide-changed="slideHasChanged(index)">
    <div class="box pink slideView">
      <img src="../img/3.jpeg" alt="3">
      <button class="button button-full button-light" href="#/tab/home" ng-click="slide.toHome()">
        开始使用
      </button>
    </div>
  </ion-slide>
</ion-slide-box>
