<ion-view class="invest_container" view-title="投资风格">
  <ion-content>
    <div class="list">

      <h4>Q1:您的预期回报率为:</h4>
      <div style="padding: 0 10px">
        <label class="invest_label" ng-repeat="item in reg.select1">
          <input ng-model="reg.data.clientSide1" ng-value="item.value" type="radio" name="first">{{item.text}} <br>
        </label>
      </div>

      <!--<div class="item item-divider">-->
        <!--选中的:{{reg.data.clientSide1}}-->
      <!--</div>-->

      <h4>Q2:您能接受的最大亏损为:</h4>
      <!--<ion-radio ng-repeat="item in reg.select2" ng-model="reg.data.clientSide2" ng-value="item.value" name="second">-->
        <!--{{item.text}}-->
      <!--</ion-radio>-->
      <div style="padding: 0 10px">
      <label class="invest_label" ng-repeat="item in reg.select2">
        <input ng-model="reg.data.clientSide2" ng-value="item.value" type="radio" name="second">{{item.text}} <br>
      </label>
        </div>
      <!--<div class="item item-divider">-->
        <!--选中的:{{reg.data.clientSide2}}-->
      <!--</div>-->

      <h4>Q3:是否是投顾账号？</h4>
      <div class="padding">
      <label ng-repeat="item in reg.select3">
        <input ng-model="reg.data.clientSide3" ng-value="item.value" type="radio" name="third">{{item.text}} <br>
      </label>
        </div>
      <!--<ion-list>-->
        <!--<ion-radio ng-repeat="item in reg.select3" ng-model="reg.data.clientSide3" ng-value="item.value" name="third">-->
          <!--{{item.text}}-->
        <!--</ion-radio>-->
      <!--</ion-list>-->
      <!--<div class="item item-divider">-->
        <!--选中的:{{reg.data.clientSide3}}-->
      <!--</div>-->
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Q4:账户总盈利部分提成比例(%):</span>
          <input type="text" ng-model="reg.data.earnPercent" placeholder="20.00" required="required">
        </label>
      </div>
      <!--<div class="item item-divider">-->
        <!--输入的提成比例:{{reg.data.earnPercent}}-->
      <!--</div>-->
      <button class="button button-full btn_color" ng-click="reg.gotoRisk()">
        提交
      </button>
    </div>
  </ion-content>
</ion-view>
