<ion-view view-title="Register">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">邮箱</span>
        <input type="text" ng-model="reg.email">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" ng-model="reg.pwd">
      </label>
      <label class="item item-input">
        <span class="input-label">确认密码</span>
        <input type="password" ng-model="reg.confirm_pwd">
      </label>
      <button class="button button-full button-positive" ng-click="reg.regTest()">
        注册
      </button>
    </div>
  </ion-content>
</ion-view>
