<ion-view view-title="资产信息" class="asset_container">
  <ion-content>
    <div class="returnItem ">
      <div class="assetItem">
        <return-chart id="returnchart" legend="asset.legend2" data="asset.data2"></return-chart>
      </div>
      <div class="assetItem" style="margin-top: 0.8rem">
        <label class="item item-input item-select" style="border-top: none">
          <div class="input-label">
            资产收益率分析
          </div>
          <select>
            <option selected>本日</option>
            <option>本周</option>
            <option>本年</option>
            <option>累计</option>
          </select>
        </label>
        <table class="assetTable">
          <tr>
            <th>资产类别</th>
            <th>收益率</th>
          </tr>
          <tr ng-repeat="item in asset.reutrnData">
            <td>{{item.category}}</td>
            <td>{{item.returnrate}}</td>
          </tr>
        </table>
      </div>

    </div>

  </ion-content>
</ion-view>
