<ion-view view-title="资产信息">
  <ion-content class="padding">
    <div class="assetBox">
      <ul>
        <li ng-click="asset.getAsset()">资产配置分析</li>
        <li ng-click="asset.getReturn()">收益率分析</li>
        <li ng-click="asset.getMonitor()">策略监控</li>
      </ul>
    </div>
    <div class="list assetItem" ng-show="asset.showasset">
        <label class="item item-input item-select col-60">
          <div class="input-label">
            收益率
          </div>
          <select>
            <option selected>本日</option>
            <option>本周</option>
            <option>？？？</option>
          </select>
        </label>
      <asset-chart id="assetchart" legend="asset.legend" item="asset.item" data="asset.data"></asset-chart>
    </div>

    <div class="returnItem" ng-show="asset.showreturn">
      <return-chart id="returnchart" legend="asset.legend2" data="asset.data2"></return-chart>
      <label class="item item-input item-select col-80">
        <div class="input-label">
          资产收益率分析
        </div>
        <select>
          <option selected>本日</option>
          <option>本周</option>
          <option>？？？</option>
        </select>
      </label>
      <table class="assetTable" border="1px">
        <tr>
          <th>资产类别</th><th>收益率</th>
        </tr>
        <tr ng-repeat="item in asset.reutrnData">
          <td>{{item.category}}</td>
          <td>{{item.returnrate}}</td>
        </tr>
      </table>
    </div>

    <div class="monitorItem" ng-show="asset.showmonitor">
      <return-chart id="monitorchart" legend="asset.legend3" data="asset.data3"></return-chart>
      <label class="item item-input item-select col-80">
        <div class="input-label">
          策略收益率分析
        </div>
        <select>
          <option selected>本日</option>
          <option>本周</option>
          <option>？？？</option>
        </select>
      </label>
      <table class="assetTable" border="1px">
        <tr>
          <th>策略类别</th><th>策略名</th><th>收益率</th>
        </tr>
        <tr ng-repeat="item in asset.monitorData">
          <td>{{item.category}}</td>
          <td>{{item.strategy}}</td>
          <td>{{item.returnrate}}</td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-view>
