<ion-view view-title="消息">
  <ion-content>
    <div>
      <div class="item msgListItem" ng-repeat="item in message.msgList" ng-click="message.readMsg()">
        <!--<a href="#/message/msgdetail?id={{item.msg_id}}" class="row">-->
        <a ng-click="message.readMsg(item.msg_id)" class="row">
          <div class="col-60">
            <h2>投资经理:{{item.investmanager}}</h2>
            <p>{{item.content}}</p>
          </div>
          <div class="col-40 msgRight">
            <p>{{item.date}}</p>
            <span class="readTip" ng-if="item.read"></span>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
