<ion-view view-title="交易">
  <ion-content class="padding">
    <h3>已选策略：{{message.getstrategy.name}}</h3>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">建议购买金额：</span>
        <input type="number" placeholder="填写购买金额" value="{{message.getstrategy.money}}" required>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          选择交易账户：
        </div>
        <select>
          <option selected>盈透证券</option>
          <option>ifast</option>
          <option>。。。</option>
        </select>
      </label>
      <a class="button button-positive" href="">萝卜跟单</a>
      <a class="button button-positive" href="">手动跟单</a>
    </div>
  </ion-content>
</ion-view>
