/* Empty. Add your own CSS if you like */
body{
  color: #7f8080;
  font-family: "SimHei","-apple-system","Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: #7f8080;
  font-family: "SimHei","-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.btn_style{
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.btn_line{
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.btn_line_yellow{
  border: 1px solid #ffa500;
  background: transparent;
  color: #ffa500;
}
.btn_color{
  background:#ffa500;
  color: #ffffff;
}
.btn_color_b{
  background:#73D9EF;
  color: #ffffff;
}
.btn_opacity{
  background-color: #ffffff ;
  background-color:rgba(0,0,0,0.2);
}
.comein_container{
  background: url("../img/1.jpg") no-repeat;
  background-size: 100%;
}
.comein_logo{
  margin-top: 40%;
  margin-bottom: 20%;
}
.comein_logo img,.login_logo img{
  width: 100%;
}
.login_container{
  background: url("../img/loginbg.jpg") no-repeat;
  background-size: 100%;
}
.login_container p{
  display: block;
  text-align: right;
  color: #ffa500;
  padding-top: 0.5rem;
  text-decoration: underline;
}
.login_logo{
  margin-top: 30%;
  margin-bottom: 15%;
}
.login_container label input{
  color: #ffffff;
}
.color_white{
  color: #ffffff;
}
.input-label{
  width: 20%;
}
.riskenter h2{
  color: #000000;
  text-align: center;
  margin-top: 16%;
  margin-bottom: 7%;
}
.riskenter_logo{
  width: 200px;
  height: 200px;
  background: url("../img/riskbg.png");
  background-size: 100%;
  margin: 0 auto;
  line-height: 250px;
  text-align: center;
}
.riskenter_logo img{
  width: 30%;
  display: inline-block;
  height: auto;
}
.riskenter p{
  display: block;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
button.button-full{
  width: 80%;
  margin: 0 auto;
}


.slideView img{
  /*width: 100%;*/
}
.slideView button{
  position: absolute;
}

/*投资风格*/
.invest_container h4{
  font-size: 1rem;
  background-color: #f5f4f9;
  margin: 0;
  padding: 1rem;
  color: #444;
}
.invest_label{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  display: block;
  border-bottom: 1px solid #e6e6e6;
  color: #444;
}
.invest_label input{
  margin-right: 1rem;
}


/*风险问卷*/
.timelinebox{
  border: 1px solid #ffa500;
}
.timeline_part{
  display: block;
  background: #ffa500;
  height: 2em;
}
.timeline_part1{
  width: 14%;
}
.timeline_part2{
  width: 28%;
}
.timeline_part3{
  width: 42%;
}
.timeline_part4{
  width: 56%;
}
.timeline_part5{
  width: 70%;
}
.timeline_part6{
  width: 84%;
}
.timeline_part7{
  width: 100%;
}
/*资产*/
.assetItem{
  background-color: #ffffff;
}
.asset_tabs{
  padding: 1rem 0;
}
.assetBox{
  width: 100%;
  margin: 0 auto;
  display: block;
  clear: both;
}
.assetBox ul{
  margin: 0;padding: 1rem 0;
}
.assetBox ul li{
  font-size: 1rem;
  width: 32%;
  display: inline-block;
  border: 1px solid #666666;
  text-align: center;
  padding: 0.4rem 0;
  -webkit-box-shadow: 3px 3px 5px #666666;
  -moz-box-shadow: 3px 3px 5px #666666;
  box-shadow: 3px 3px 5px #666666;
}
.assetTable{
  width: 100%;
  text-align: center;
}
.assetTable tr{
  border-bottom: 1px solid #e6e6e6;
}
.assetTable td,th{
  padding: 0.6rem 0;
}
.assetTable td{
  color: #444;
}
.assetTable tr:nth-of-type(odd){
  /*background: #f9f9f9;*/
}
.msgbottom{
  display: block;
  margin-top: 1.5rem;
}
.msgbottom .half{
  width: 42.5%;
}
/*消息列表首页*/
.msgListItem{
  border-right: none;
  border-left:none;
  padding: 12px;
}
.msgListItem a{
  text-decoration: none;
}
.msgListItem h2{
  color: #000000;
}
.msgListItem p{
  color: #8f8f8f;
}
.msgListItem .msgRight{
  text-align: right;
}
.msgListItem .msgRight .readTip{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffa500;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}
/*查看具体消息页面 策略组合列表*/
.msgDetail_top{
  padding: 0.5rem;
}
.msgDetail_top p{
  padding: 0;
  margin:0;
}
.msgDetail_list h4,.msgDetail_list h5,.msgDetail_list h3,.msgDetail_list p{
  padding: 0.2rem;
  margin: 0;
}
.msgDetail_list h3{
  font-size: 0.9rem;
}
.msgDetail_list h4{
  font-size: 1.3rem;
  color: #ffa500;
  /*font-weight: bold;*/
}
.msgDetail_list .detail_color_b{
  color: #000000;
}
.msgDetail_list p,.msgDetail_list h5{
  font-size: 0.7rem;
  padding: 0 0.2rem;
}
.msgDetail_list ul li{
  text-align: center;
}
.msglist{
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.msglist:first-child{
  border-top: 1px solid #e6e6e6;
}
.msglist input{
  width: 2rem;
}

.detailpagemsg{
  border: 1px solid #dddddd;
  padding: 1.2rem 1rem;
  margin-top: 0.3rem;
}
/*交易*/
.luobo_trade{
  background: #ffa500 !important;
  color: #ffffff;
}
.shoudong_trade{
  background: #73D9EF !important;
  color: #ffffff;
}
.trade_con{
}

/*个人中心*/
.centerTop{
  text-align: center;
  background: #ffa500;
  padding: 1.2rem;
  color: #ffffff;
}
.centerTop h2{
  color: #ffffff;
  margin: 0.5rem auto;
}
.centerTop img{
  border: 2px solid #ffffff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

.centerbtn{
  border: 1px solid #e6e6e6;
  line-height: inherit;
  font-size: 13px ;
  min-width: 40px;
  min-height: 30px;
}
.center_tabs ul li{
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.center_tabs ul li .none{
  border-right: none;
}
.center_tabs ul a{
  text-decoration: none;
  color: #000000;
}
.center_tabs ul li i{
  color: #ffa500;
  display: block;
}
/*主页*/
.home_container,.asset_container{
  background-color: #f5f4f9;
}
.home_tabs{
  margin-top: 0.8rem;
  background-color: #ffffff;
  width: 100%;
}
.home_tabs a{
  text-decoration: none;
  color: #333333;
}
.home_tabs_line{
  padding: 0.5rem;
  text-align: center;
}
.home_tabs_line h3{
  padding: 0; margin: 0; color: #ffa500; letter-spacing: 0.2rem; font-family: "Roboto","sans-serif";
}
.home_tabs_line h5{
  padding: 0; margin: 0; font-size: 1rem;
}
.home_tabs ul li{
  text-align: center;
}
.home_tabs ul li img{
  width: 50%;
}

/*开户*/
.idbox{
  padding: 3rem;
  text-align: center;
  line-height: 6rem;
  background: #f5f4f9;
}
.info_border{
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}
